/* styles.css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

/* 使About Me部分靠左 */
.content {
  max-width: 960px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  font-size: 30px; /* 调整标题字体大小 */
  color: #333;
  text-align: left;
  margin-bottom: 15px; /* 调整标题下方的间距 */
}

h1 i {
  margin-right: 10px;
  font-size: 1.1em; /* 图标字体大小调整 */
  color: #3596b5;
}

p {
  font-size: 16px; /* 调整段落字体大小 */
  line-height: 1.6;
  color: #555;
  margin: 15px 0; /* 调整段落上下的间距 */
}

h2 {
  font-size: 24px; /* 调整子标题字体大小 */
  color: #333;
  margin-top: 30px; /* 调整子标题的上边距 */
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 16px; /* 调整列表项字体大小 */
  margin-bottom: 8px; /* 调整列表项之间的间距 */
}

.cv-btn {
  display: inline-block;
  background-color: #4ffbdf;
  color: #fff;
  padding: 8px 16px; /* 调整按钮的内边距 */
  font-size: 16px; /* 调整按钮字体大小 */
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.cv-btn:hover {
  background-color: #4ffbdf;
}

.footer {
  margin-top: 30px; /* 调整底部区域的间距 */
  font-size: 14px; /* 调整底部文字大小 */
  text-align: center;
  color: #777;
}

.footer a {
  color: #00c9a7;
  text-decoration: none;
}

.news-item {
  margin-bottom: 12px; /* 调整新闻项之间的间距 */
  font-size: 16px; /* 调整新闻项字体大小 */
}

.news-date {
  font-size: 12px; /* 调整日期字体大小 */
  color: #888;
}

.news-item span {
  font-weight: bold;
}
